/* I like turtles */

.box {
    border-width: 2px;
    border-radius: 5pc;
    border-color: rgb(red, green, blue);
    border-style: solid;
    padding: 40px 40px 40px 40px;
    margin: 20px 20px 20px 20px;
    width: 20cm;
    height: 5in;
  }


  .box2 {
    border-width: 2em;
    border-radius: 1rem;
    border-color: #4cb6c2;
    border-style: dotted;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
  }

  .box3 {
    border-width: 2vw;
    border-radius: 1px;
    border-color: #f22;
    border-style: solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 150px;
    height: 150px;
  }

 h2 {
     color: hsl(251, 18%, 50%);
     text-decoration: underline;
     text-align: justify;
     font-family: 'Noto Sans JP', sans-serif;

 }

 h3 {
     color: hsla(167, 84%, 29%, 0.8);
 }

 .color-blue { 
    color: blue; 
}

#iidd {
    background: salmon;
}

li {
    display: inline;
}

.flex-container {
    display: flex;
    background-color: rgb(210, 30, 255);
    color: rgb(199, 180, 15);
  width: 250px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

  }


  p * {
      color:rgb(34, 27, 26);
  }

  p[target] {
      color: green;
  }

  p.highlight:hover {
    color: #692d64;
  } 